html{
  height: 100%;
  background: #000000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding: 0 15px;
    height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: #000000;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(23,38,101,1) 70%, rgba(114,18,18,1) 100%)  !important;
  background-repeat: no-repeat;
  background-size:100% 300px;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-div{
  text-align: center;
}

.large-logo{
  width: 50%;
  margin-bottom: 96px;
}

.mb-50{
  margin-bottom: 50px;
}

.subtitle-76{
  font-size: 2em;
  font-weight: bold;
}

.authorize-spotify-btn{
  border-radius: 50px !important;
}

.nav-bar-custom{
  justify-content: flex-start !important;
}

.logo-center{
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, -0%);
}

.dropdown-toggle.btn.btn-danger,
.show > .dropdown-toggle.btn.btn-danger{
  background: transparent;
  border: white 1px solid;
  width: 250px;
}

.filter-p{
  padding: 15px;
}

.create-playlist{
  background: #B21B1B !important;
  border-radius: 50px !important;
  margin: 0 0 20px 0;
}

.card{
  background: transparent !important;
}

.media{
  padding: 10px 0;
}

.media-body{
  text-align: left;
}